body {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #000000;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
  .navbar .left {
    display: flex;
    align-items: center;
  }
  
  .navbar .left a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
  }
  
  .navbar .right {
    display: flex;
    align-items: center;
    margin-right: 40px;
  }
  
  .navbar .center{
    display: flex;
    align-items: center;
    margin-left: 130px;
  }

  .navbar input[type="search"] {
    padding: 8px;
    border: none;
  }
  
  .navbar button {
    padding: 8px 15px;
    background-color: #e6b104;
    color: white;
    border: none;
    cursor: pointer;
  }